{% extends "../content_base.html" %}
	{% block header_navs %}
	    <li {% if first_nav_name == 'project' %}class="active"{% endif %}><a href="/userCenter/userCenter/">个人中心</a></li>
	{% endblock %}
	{% block content-panel %}
	
	<div class="xui-userCenterPage">
	
		<div class="xui-wrap">
			<div class="xui-i-left xui-shadow">
				<ul>
					<li><a href="/userCenter/userCenter">我的主页</a></li>
					<li><a href="/product/product" class="active">发布订单</a></li>
					<li><a href="/product/products">已购订单</a></li>
					<li><a href="">账号设置</a></li>
					<li><a href="">账户充值</a></li>
					<li><a href="">我的积分</a></li>
				</ul>
			</div>
			<div class="xui-i-right">
				<div class="xui-i-content">
					
					<a class="glyphicon glyphicon-plus btn btn-primary" href="/yonghu/yonghu/">Add yonghu </a>
					<table class="table table-bordered table-striped mt10 ">
						<thead>
							<tr>
								
								<th>idof_zfb</th>
								
								<th>idof_person</th>
								
								<th>idof_tel</th>
								
								<th>idof_qq</th>
								
								<th>idof_yy</th>
								
								<th>is_coach</th>
								
								<th>is_verify</th>
								
								<th>操作</th>
							</tr>
						</thead>
							<tbody>
							{% for yonghu in yonghus %}
							<tr>
								
								<td>{{yonghu.idof_zfb}}</td>
								
								<td>{{yonghu.idof_person}}</td>
								
								<td>{{yonghu.idof_tel}}</td>
								
								<td>{{yonghu.idof_qq}}</td>
								
								<td>{{yonghu.idof_yy}}</td>
								
								<td>{{yonghu.is_coach}}</td>
								
								<td>{{yonghu.is_verify}}</td>
								
								<td> 
									<a class="btn btn-primary " href="/yonghu/yonghu/?yonghu_id={{yonghu.id}}"> 编辑</a>
									<a href="javascript:void(0);" class="btn btn-danger xa-delete" data-id={{yonghu.id}}>删除</a>  
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
				
		
		
	</div>
	{% endblock %}
	
	{% block js %}
	<script type="text/javascript">
	
	    $(document).ready(function() {
	
			$(document).delegate(".xa-delete","click",function(){
				var yonghu_id = $(this).attr("data-id");
				W.Resource.delete({
	                    resource: 'project.yonghu',
	                    data: {
	                        yonghu_id: yonghu_id
	                    },
	                    success: function(data) {
	                        W.showHint('success', '删除成功');
	                        _.delay(function() {
	                            window.location.reload();
	                        }, 1000);
	                    },
	                    error: function() {
	                        W.showHint('error', '删除失败！');
	                    }
	            });
			});
	    	
	    });
	</script>
	{% endblock %}
	