{% extends "../userManger_content_base.html" %}
        {% block header_navs %}
            <li {% if first_nav_name == 'project' %}class="active"{% endif %}><a href="/userCenter/userCenter/">个人中心</a></li>
        {% endblock %}
        {% block content-panel %}
				<div class="xui-i-content ">
					{% for user in userList %}
					<div>
						<div class="xui-userHeader" style="background-image:url(/static/img/user/{{user.name}}.jpg)"></div>
						<div class="xui-userInfo fl">
							<div>
								{{user.name}} 
							</div>
							<div >
								<div class="fl">资料完成程度:60%</div>
								<div class="progress w200 fl">
									<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
									</div>
								</div>
								
								<a href="" class="m10">完善资料</a>
	
							</div>
							<div class="cb">
								账户余额
							</div>
							<div>
								你不是会员 <a href="" class="ml20">加入会员</a>
							</div>
						</div>
						<div class="fl pl30">
							<div>
								我的积分：<span class="xui-color-orange font16 fb">50</span>
							</div>
							<div>
								<a href="">如何获取积分</a>
							</div>
							
						</div>
					</div>
					{% endfor %}
									
						<div class="form-group">
							<label  class="col-sm-3 control-label">名称</label>
							<div class="col-sm-8">
								<input type="text" class="form-control xa-name" value="{{regional.name}}" placeholder="名称">
							</div>
						</div>
									
						<div class="form-group">
							<label  class="col-sm-3 control-label">运营商 </label>
							<div class="col-sm-8">
								<input type="text" class="form-control xa-ownCarrieroperator" value="{{regional.ownCarrieroperator}}" placeholder="0电信 1网通">
							</div>
						</div>
					
					<div class="form-group">
						<span class="btn btn-success mt20 mb30 xa-submit" data-id={{regional.id}}>保存</span>
					</div>
				</div>

	{% endblock %}
	
	
	{% block js %}
	<script type="text/javascript">
	
	    $(document).ready(function() {
	
			$(document).delegate(".xa-submit","click",function(){
				var data = {};
				
				data.name = $(".xa-name").val();
				
				data.ownCarrieroperator = $(".xa-ownCarrieroperator").val();
				
				data.regionalid = $(this).attr('data-id');
				console.log(data);
				W.Resource.put({
					resource: 'regional.regional',
					data: data,
					success: function(data) {
						W.showHint('success', '成功，重新加载页面...');
						_.delay(function() {
						    window.location.reload();
						}, 1000);
					},
					error: function() {
					W.showHint('error', '更新失败！');
	        		}
				})		
	            
			})
	    });
	</script>
	{% endblock %}
	