{% extends "../userCenter_content_base.html" %}
		{% block header_navs %}
		    <li {% if first_nav_name == 'project' %}class="active"{% endif %}><a href="/userCenter/userCenter/">个人中心</a></li>
		{% endblock %}
		{% block content-panel %}
	<div class="xui-userCenterPage">
				<div class="xui-i-content">
					<table class="table table-bordered table-striped mt10 ">
						<thead>
							<tr>
								<th>导师</th>
								<th>价格</th>
								<th>游戏时间</th>
								<th>下单时间</th>
								<th>订单状态</th>
								<th>操作</th>
							</tr>
						</thead>
							<tbody>
							{% for order in orders %}
							<tr>
								<td> <div  class="xui-userHeaderSmall" style="background-image:url(/static/img/user/{{ order.buyer.name }}.jpg)"></div></td>
								<td>{{order.price}}</td>
								<td>{{order.gameTime|date('Y-m-d-h-i', -480, 'CCT')}}</td>
								<td>{{order.creatTime|date('Y-m-d-h-i', -480, 'CCT')}}</td>
								<td>{{order.state}}</td>
								<td> 
									<a class="btn btn-primary " href="/order/order/?order_id={{order.id}}"> 编辑</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
	</div>
	{% endblock %}
	
	{% block js %}
	<script type="text/javascript">
	
	    $(document).ready(function() {
	
			$(document).delegate(".xa-delete","click",function(){
				var order_id = $(this).attr("data-id");
				var data = {};
				
				data.buyerId = $(".xa-buyerId").val();
				
				data.sellerId = $(".xa-sellerId").val();
				
				data.price = $(".xa-price").val();
				
				data.gameTime = $(".xa-gameTime").val();
				
				data.creatTime = $(".xa-creatTime").val();
				
				data.state = $(".xa-state").val();
				
				W.Resource.delete({
	                    resource: 'project.order',
	                    data: {
	                        order_id: order_id
	                    },
	                    success: function(data) {
	                        W.showHint('success', '删除成功');
	                        _.delay(function() {
	                            window.location.reload();
	                        }, 1000);
	                    },
	                    error: function() {
	                        W.showHint('error', '删除失败！');
	                    }
	            });
			});
	    	
	    });
	</script>
	{% endblock %}
	