{% extends "../content_base.html" %}

{% block html_css %}

{% endblock %}
{% block header_navs %}
    <li {% if first_nav_name == 'project' %}class="active"{% endif %}><a href="/userCenter/userCenter/">个人中心</a></li>
{% endblock %}
{% block content-panel %}
<div class="xa-projectsPage xui-projectPage" style="">
     
    <!--     <div style="width:100%; height:400px;overflow:hidden; ">
            <div class="xui-scroll" style="position:relative; top:-50px; left:-50px; width:120%;">
                <div style="width:100%; height:100%; background-color:#000; opacity:0.6">
                        <div class="xui-wrap">
                            <div class="xui-login-box pa">
                                <div class="xui-back-wrap">
                                    <div class="xui-back-box"></div>
                                </div>
                                <div class="xui-input-box">
                                    <div class="form-group mt100">
                                        <sapn for="name" class="col-sm-3 xui-name xui-color-white">用户名</sapn>
                                        <div class="col-sm-9 pl0">
                                            <input type="text" class="form-control xa-name" value="{{product.name}}" data-validate="require-notempty" maxlength="12" placeholder="最多输入12个字符">
                                            <div class="errorHint"></div>
                                        </div>
                                    </div>
                                    <div class="form-group pt50">
                                        <sapn for="name" class="col-sm-3 xui-name xui-color-white">密码</sapn>
                                        <div class="col-sm-9 pl0">
                                            <input type="password" class="form-control xa-name" value="{{product.name}}" data-validate="require-notempty" maxlength="12" placeholder="最多输入12个字符">
                                            <div class="errorHint"></div>
                                        </div>
                                    </div>
                                    <div class="form-group pt50">
                                        <div for="name" class="col-sm-8"></div>
                                        <div class="col-sm-4">
                                            <span class="btn btn-success">登录</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                </div>
            </div>
        </div> -->
    <div class="xui-wrap">


        <div class="xui-scroll">
            
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide xui-slide1"></div>
                    <div class="swiper-slide xui-slide2"></div>
                    <div class="swiper-slide xui-slide3"></div>
                    <div class="swiper-slide xui-slide4"></div>
                    <div class="swiper-slide xui-slide5"></div>
                </div>
            </div>
        </div>
        

        <img style= src="/static/img/bk/searchTitle.png" alt="" />
      <!--   <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
            Panel content
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-5" style="padding-top:7px;">
                <span class="pr10">价格</span>
                <span class="pr10">等级</span>
                <span class="pr10">战斗力</span>
                <span class="pr10">等级</span>
                {{normalcompanys}}
                <span  >男</span>
                  <input  class="xa-condition xa-six" data-condition="boy" name="six" type="checkbox" />
                <span  >女</span>
                  <input  class="xa-condition xa-six" data-condition="girl" name="six" type="checkbox" />
              <!--   <span >包赢</span>
                  <input  class=" xa-condition" data-condition="win" type="checkbox" />
                <span >视频认证</span> 
                  <input class=" xa-condition" data-condition="win" type="checkbox" />-->
                <!-- <span class="btn btn-danger fr  xa-condition" data-condition="video">search</span> -->
            </div>
            <div class="col-md-7">
                <div class="input-group">
                <input type="text" class="form-control xa-name" placeholder="大神名称进行索引" aria-describedby="basic-addon2"/>
                <span class="input-group-addon xa-search btn-danger" id="basic-addon2">搜索</span>
                </div>
            </div>
        </div>

        <div class="xui-coach">
            {% for coach in users %}
            <div class="xui-box {% if loop.first %} {% else %} {% if (loop.index+1)%5 ==1 %} xui-box-last {% else %} {% endif %} {% endif %} ">
                <a href="/normalcompany/normalcompanyDetail/?coachid={{coach.id}}">
                    <div class="xui-img" style="background-image:url({{ coach.user_img }})"></div>
                    <div class="xui-info">
                    
                        <p>{{ coach.name }}</p>
                        <p>  单价{{ coach.normalcompany.price }}￥
                        </p>
                        <!-- <p>密码：{{ coach.password }}</p> -->
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
      <!--   <div class="xui-friend-box">
            <p>好友推荐</p>
            <div class="xui-friend" style="background-image:url(/static/img/user/user1.jpg)"></div>
            <div class="xui-friend" style="background-image:url(/static/img/user/user2.jpg)"></div>
            <div class="xui-friend" style="background-image:url(/static/img/user/user3.jpg)"></div>
            <div class="xui-friend" style="background-image:url(/static/img/user/user4.jpg)"></div>
            <div class="xui-friend" style="background-image:url(/static/img/user/user5.jpg)"></div>
            <div class="xui-friend" style="background-image:url(/static/img/user/user6.jpg)"></div>
        </div> -->

        <div class="cb"></div>
        <div class="xui-news mt30 fl">


            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">等待游戏</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">已结束游戏</a></li>
           
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active p20" id="home">
                    <ul>
                        {% for order in orders %}
                            {% if order.state ==0 %}
                            <li>玩家：{{ order.buyer.name }}----接单：{{ order.seller.name }}</li>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <ul>
                        {% for order in orders %}
                            {% if order.state ==2 %}
                            <li>玩家：{{ order.buyer.name }}----接单：{{ order.seller.name }}</li>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </ul>

                </div>
                
            </div>
        </div>

        <div class="xui-news mt30 fr">


            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">最新新闻</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane p20 active" id="home">
                    {% for news in newses %}
                        <a href="/news/news/?newsid={{news.id}}">{{news.title}}</a> <br/>
                    {% endfor %}
                </div>
               
            </div>
        </div>
    </div>

<div class="cb"></div>
       <!-- Swiper -->



  

{% endblock %}


{% block js %}
<script type="text/javascript">

    $(document).delegate(".xa-search","click",function(){

        // if($(this).attr("name")=="six") {
        //     if($(this).is(':checked')){
        //         alert("checked");
        //     }
        //     //$(".xa-six").removeAttr("checked");//取消全选
        //      // $("[name='xa-six'][checked]").removeAttr("checked");//取消全选
        //    // $(this).attr("checked",'false');//取消全选
           
        // }

        var condition = '';
        $(".xa-condition").each(function(){
            if($(this).is(':checked')){
                condition+=$(this).attr("data-condition")+",";
            }
        })

        if($(".xa-name").val()){
            window.location.href="/coach/coachs/?conditions="+condition+"&name="+$(".xa-name").val();
        }
        else{
            window.location.href="/coach/coachs/?conditions="+condition;
        }
       
        // var data = { };
        // data.conditions = condition;
    
        // W.Resource.get({
        //     resource: 'coach.coachs',
        //     data: data,
        //     success: function(data) {
        //         W.showHint('success', '成功，重新加载页面...');
        //         _.delay(function() {
        //             window.location.reload();
        //         }, 1000);
        //     },
        //     error: function() {
        //     W.showHint('error', '更新失败！');
        //     }
        // })  
    })

    var mySwiper = new Swiper('.swiper-container',{
        pagination: '.swiper-pagination',
        autoplay : 3000,
        speed : 4000,
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        
    })
</script>
{% endblock %}